@import "../../scss/variables";

section.service_component {
  div.container {
    div.item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      &:nth-child(odd) {
        article {
          grid-column: 1;
        }
        div.background {
          grid-column: 2;
          grid-row: 1;
        }
      }
      div.background {
        background-size: cover;
        background-position: center center;
      }
      article {
        padding: 12%;
        h1 {
          font-size: 1.5rem;
          font-weight: bolder;
          letter-spacing: 0.1rem;
          text-transform: uppercase;
          color: $color-primary;
          line-height: 180%;
        }
        div.separator {
          background-color: $color-secondary;
          display: inline-block;
          width: 3rem;
          height: 0.3rem;
          margin: 2rem 0 3rem 0;
        }
        p {
          font-size: 1.1rem;
          letter-spacing: 0.06rem;
          line-height: 2rem;
          div.member {
            display: grid;
            grid-template-columns: 1fr 8rem;
            column-gap: 5rem;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
