@import "../../scss/variables";

section.contact_component {
  background-color: $color-primary;
  padding: 5rem 0;
  div.container {
    width: 75%;
    margin: auto;

    div.content {
      text-align: center;
      h1 {
        font-size: 2rem;
        font-weight: bolder;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        color: $color-primary;
        margin: 1rem 0 2rem 0;
        color: $color-secondary;
      }
      p {
        font-size: 1.1rem;
        letter-spacing: 0.06rem;
        line-height: 2rem;
        color: #ffffff;
      }
    }
    nav {
      text-align: center;
      margin: 2rem 0;
      a {
        border-bottom: 3px solid transparent;
        padding-bottom: 1rem;
        letter-spacing: 0.04rem;
        margin-left: 2rem;
        font-size: 1rem;
        color: #ffffff;
        cursor: pointer;
        transition: all 0.5s;
        font-weight: 600;
        svg {
          margin-right: 0.5rem;
          display: inline-block;
          color: $color-secondary;
        }
        &:hover {
          border-color: $color-secondary;
          svg {
            color: $color-secondary;
          }
        }
      }
    }
    form {
      margin: 5rem 0;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 1rem;
      row-gap: 1rem;
      fieldset {
        &:nth-child(4) {
          grid-column-start: 1;
          grid-column-end: 4;
        }
        &:nth-child(5) {
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }
      input,
      textarea {
        font-family: $font-family;
        width: 100%;
        box-sizing: border-box;
        font-size: 14px;
        letter-spacing: 0.1rem;
        display: block;
        border: 0;
        padding: 15px 20px;
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid #243b55;
        color: #fff;
        transition: all 1s ease;
        ::placeholder {
          color: rgba(255, 255, 255, 0.7);
          opacity: 1;
        }
      }
      textarea {
        resize: none;
      }
      button {
        width: 100%;
        box-sizing: border-box;
        font-size: 14px;
        letter-spacing: 0.1rem;
        display: block;
        border: 0;
        padding: 15px 20px;
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid $color-primary;
        color: #fff;
        transition: all 1s ease;
        background-color: $color-secondary;
        cursor: pointer;
        &:hover {
          border: 1px solid $color-secondary;
          background-color: transparent;
        }
      }
    }
  }
  @media (min-width: 200px) and (max-width: 991px) {
    padding: 2rem 0;
    div.container {
      width: 90%;
      div.content {
        h1 {
          font-size: 1.5rem;
        }
        p {
          font-size: 0.9rem;
          letter-spacing: none;
        }
      }
      nav {
        display: none;
      }
      form {
        grid-template-columns: 1fr;
        width: 90%;
        margin: 3rem auto;
        fieldset {
          &:nth-child(4) {
            grid-column-start: 1;
            grid-column-end: 1;
          }
          &:nth-child(5) {
            grid-column-start: 1;
            grid-column-end: 1;
          }
        }
      }
    }
  }
}
