@import "../../scss/variables";

div.nav-wrapper {
  display: none;
  position: fixed;
  left: 0;
  height: 100%;
  width: 20rem;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
  align-items: center;
  &.open {
    display: grid !important;
  }
  &.close {
    display: none !important;
  }
  nav {
    a {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding: 0.5rem 1rem;
      font-size: 1rem;
      display: block;
      line-height: 3rem;
      color: #ffffff;
      transition: all 0.3s ease-in-out;
      &:hover,
      &.active {
        background-color: $color-secondary;
      }
      &:last-child {
        background-color: $color-primary !important;
      }
    }
  }
  @media (min-width: 200px) and (max-width: 991px) {
    width: 100%;
    nav {
      a {
        padding: 0.1rem 2rem;
      }
    }
  }
}
