@import "../../scss/variables";

div.nav-wrapper {
  display: none;
  position: fixed;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: $color-primary;
  z-index: 100;
  align-items: center;
  &.open {
    display: grid !important;
  }
  nav {
    a {
      font-size: 2rem;
      display: block;
      text-align: center;
      letter-spacing: 0.2rem;
      line-height: 5rem;
      color: #ffffff;
      transition: all 0.3s ease-in-out;
      &:hover,
      &.active {
        background-color: $color-secondary;
      }
      &:last-child {
        background-color: $color-primary !important;
      }
    }
  }
}
